.topbarContainer{
    height: 50px;
    width: 100%;
    background-color: #1877f2;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.logo{
    font-size: 1.5rem;
    margin-left: 1.3rem;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.topbarLeft{
    flex: 3;
}

.topbarCenter{
    flex: 5;
}

.searchbar{
    width: 100%;
    height: 2rem;
    background-color: #fff;
    border-radius: 2rem;
    display: flex;
    align-items: center;
}

.searchIcon{
    font-size: 1.3rem !important;
    margin-left: 10px;
}

.searchInput{
    border: none;
    width: 70%;
}

.searchInput:focus{
    outline: none;
}

.topbarRight{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
}

.topbarLink{
    font-size: 0.9rem;
    margin-right: 10px;
    cursor: pointer;
}

.topbarIcons{
    display: flex;
}

.topbarIconItems{
    margin-right: 1rem;
    cursor: pointer;
    position: relative;
}

.topbarIconBadge{
    width: 14px;
    height: 14px;
    background-color: red;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.topbarImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}